html, body{
	
	background:url('../img/bg.jpg') center center no-repeat;
	height: 100%;
	background-size:cover;
}

@media(max-width:768px) {
	#logo img{
		width:50%;
	}
	#counter .countdown{
		font-size:1.4em !important;
	}
	#icons .fa{
		margin:10px 0 0 !important;
		font-size:2em;
	}

	
}

@media(min-width:321px)
	and (max-width:568px){
		#logo img{
			width:30%;
		}
	}

#logo img{
	margin: 0 auto;
	padding-top:50px;
}

#intro p{
	color: white;
	text-align: center;
	font-family: 'Just Another Hand', cursive;
	font-size:2em;
}

#counter .countdown{
	
	color:white;
	text-align:center;
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
	margin:-15px 0 0;
}

#icons {
	text-align:center;
	

}

li{
	display:inline;
}

#icons .fa{
	color:white;
	width:100%;
	margin: 5px 15px;
	display:inline;
	position: relative;
	bottom:0;
	transition: all 0.2s ease-in-out;
}

#icons .twitter:hover{
	color:#6CADDE;
	bottom:5px;
}

#icons .facebook:hover{
	color:#3B5998;
	bottom:5px;
}

#icons .google:hover{
	color:#EA4335;
	bottom:5px;
}

#icons .instagram:hover{
	color:#517FA6;
	bottom:5px;
}

#signup{
	text-align:center;

}

#signup .form-inline{
	display: block;
}

#signup .btn{
	background-color: rgba(161,186,226,0.5);
	color:white;
}

#signup .btn:hover{
	background-color:rgba(37,165,82,1);
}