html{
	font-family: sans-serif;
}

body{
	padding-top: 50px;
}

nav{
	margin-bottom: 0px;
}

.row{
	margin-right: 0px !important;
}

img{
	margin-top:-10px;
	margin-bottom: 20px;
	max-height: 250px;
	max-width: 250px;
	height:auto;
	width:auto;
}

section{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	
}



h2{
	padding-bottom: 10px;
}

p{
	font-size: 12px;
}

#top{
	margin-top: -30px;
}

.jumbotron{
	padding-top:15px !important;
	margin-top:50px;
}

.title, .sectionTitle{	
	text-align: center;
	padding-top: 2px;
	text-decoration: bold;
}


#intro{
	padding-top:0px !important;
	margin-top:-20px;
	height:420px;
	background: url(img/dancefly.jpg) no-repeat center center;
	background-size: cover;
	
	color:white;
	
}

#intro h1{
	padding-top: 30px;
}

.introBg{

	height:420px;
	background-color: rgba(0,0,0,0.4);
}

.introBg p{
	font-size:24px;
}

.title{
	margin-bottom:120px;
}


#about p, #about ul{
	font-size: 16px;
	text-align: left;
}


#aboutText p{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

#about h4{
	/*text-align: left;*/
	padding-top: 15px;
}


#portfolio .jumbotron{
	background-color: lightblue;
}



#comingSoon{
	font-size: 48px;
	text-align: center;
	color:black;
	margin-top: 50px;
	
}


#contact{
	bottom:0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#about li{
	display:inline-block;
	padding-top: 5px;

}

i{
	padding-left: 20px;
	padding-right: 5px;
}

.portfolioLinks{
	text-align: center;
	font-size:24px;
	padding-top: 30px;
}

.portfolioLinks ul{
	text-align:center;
	display:inline;
	padding-top: 20px;
}

.portfolioLinks li{
	display:inline;
	color:black;
}

.portfolioLinks li:hover{
	color: green;
}

.portfolioLinks a:hover{
	text-decoration: none;
	bottom:10px;
}

#contactLinks p{
	margin-top: 20px;
	
}